@import "../utils/variables";
@import "../base/typography";
@import "../layouts/nav";
@import "../layouts/footer";

body {
    background-color: $color-pages;
}

.uni {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.bi-body, .kma-body {
    padding: 1rem;
    font-family: 'Philosopher', sans-serif;
}

h3 {
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    padding: 0.5rem;
}

.col-6 {
    padding: 0 2.5rem;
}

img {
    width: 70%;
    height: 5rem;
}

.udemy-pic {
    width: 50%;
}

.certificate {
    width: 100%;
    height: auto;
}

h5 {
    font-weight: 700;
}

p {
    font-style: italic;
}

.glasspaper {
    text-align: center;
}

.certificate-glasspaper {
    width: 53%;
    height: auto;
}

.oc-header, .udemy-header, .humbolt-header {
    text-align: center;
}

.oc-body, .udemy-body, .humbolt-body {
    font-family: 'Philosopher', sans-serif;
}

.title-card {
    text-align: center;
    font-weight: 700;
}

li a {
    color: black;
    &:hover {
        color: $color-icons;
        text-decoration: none;
    }
}

.list-edu {
    padding-left: 0rem;
    margin-left: 0rem;
}